<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'output.css' %}" rel="stylesheet">
    <link href="{% static 'auth.css' %}" rel="stylesheet">
    <title>EasyRead</title>
</head>
<body>
    {% block content %}{% endblock %}
    <nav>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </nav>
</body>
</html>
