<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
    <title>PDF Viewer</title>
</head>
<body>
    {% block content %}{% endblock %}
    <nav>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('index.logout') }}">Logout</a>
            <a href="{{ url_for('index.process') }}">Home</a>
        {% else %}
            <a href="{{ url_for('index.login') }}">Login</a>
            <a href="{{ url_for('index.signup') }}">Sign Up</a>
        {% endif %}
    </nav>
</body>