{% extends "base.html" %}
{% block content %}
    <div class="auth-container">
        <div class="auth-card">
            <h2 class="auth-title">Sign Up</h2>
            <form method="POST" class="auth-form">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.name.label }}<br>
                    {{ form.name(class="form-input", size=32) }}
                </div>
                <div class="form-group">
                    {{ form.email.label }}<br>
                    {{ form.email(class="form-input", size=32) }}
                </div>
                <div class="form-group">
                    {{ form.password.label }}<br>
                    {{ form.password(class="form-input", size=32) }}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label }}<br>
                    {{ form.confirm_password(class="form-input", size=32) }}
                </div>
                <div>
                    {{ form.submit(class="auth-button") }}
                </div>
            </form>
            <p>Already have an account? <a href="{{ url_for('index.login') }}" class="auth-link">Login here</a></p>
        </div>
    </div>
{% endblock %}